.searchbar-input {
    /* background-color: rgb(33, 33, 33); */
}

.searchbar-input fieldset {
    /* top          : 0; */
}

/* the border radius are corelevant with each other */
.searchbar-input fieldset, .searchbar-input{
    /* border-radius   : 15px;
    border: 1px solid rgba(33, 33, 33, 0.6); */
}

.searchbar-input input,
.searchbar-input button {
    /* color  : black;
    outline: none;
    font-size: 10.5pt;
    padding: 0.7em; */
}

.searchbar-input .Mui-focused{
    /* outline: none; */
}